@{
        Layout = "~/Views/Shared/_Layout.cshtml";
        AjaxOptions ajaxOpts = new AjaxOptions
        {
            Url = (string)ViewBag.Filter,
            UpdateTargetId = "items"
        };
    ViewBag.Title = ViewBag.Category;
}
    <script>
        function wait(ms) {
            var d = new Date();
            var d2 = null;
            do { d2 = new Date(); }
            while (d2 - d < ms);
        }
        function Submit() {
            $("#sub").click();
            $("#sub2").click();
        }
        
    </script>
<div id="sidemenu" style="margin-top: 25px; margin-left: 35px; font-size: 14px; font-weight: 500">
    <!--Nawigacja.-->
    @if (ViewBag.SubCategory != null)
    {
        @Html.Action("NavigationHistory", new { Section = ViewBag.Section, Category = ViewBag.Category, SubCategory = ViewBag.SubCategory });
    }
    else
    {
        @Html.Action("NavigationHistory", "Category", new { Section = ViewBag.Section, Category = ViewBag.Category });
    }
</div>
<div class="row" style="margin-top: 15px; margin-left: 35px;">
    <div class="card-body bg-light rounded shadow col-sm-3" style="text-align: left; height: 550px;">
        <!--Filtry i podkategorie.-->
        @Html.Action("FiltresAndSubcategories", new { category = ViewBag.Category })
    </div>
    <div class="col-sm-9 row">
        <div class="form-inline" style="width: 850px;">
            <h4 style="font-weight: 600; margin-left: 35px">Wyniki dla: @ViewBag.Category</h4>
            <div class="from-inline" style="position: absolute; right: 85px">
                <span style="margin-right: 25px; font-weight: 500; font-size: 20px">Sortowanie: </span>
                <!--Sortowanie produktów.-->
                @using (Ajax.BeginForm("SignSorting", new AjaxOptions { Url=Url.Action("SignSorting")}))
                {
                    @Html.DropDownList("sorting", new List<SelectListItem> {
                        new SelectListItem { Text="Domyślnie"},
                        new SelectListItem {Text = "Cena - malejąco"},
                        new SelectListItem {Text = "Cena - rosnąco"},
                        new SelectListItem {Text="Nazwa A-Z"},
                        new SelectListItem {Text = "Popularność - największa"},
                        new SelectListItem {Text = "Popularność - najmniejsza"}
                    }, new { @id = "sort", @class = "form-control rounded-pill", @onchange = "Submit()" })
                    <input style = "display: none" type = "submit" id = "sub" />
                }
            </div>
        </div>
        <div id="items" class="card-body " style="margin-left: 25px;">
            @Html.Action("Filtr", new { category = (string)ViewBag.Category })
        </div>
    </div>
    
</div>
